#!/bin/bash

set -eufo pipefail

# TODO: remove packages already in mise

{{ $brews := list
     "curl"
     "ffmpeg"
     "git"
     "imagemagick"
     "imgcat"
     "just"
     "tmux"
     "wget" -}}
{{ $casks := list
     "docker"
     "dropbox"
     "inkscape"
     "iterm2"
     "visual-studio-code"
     "whatsapp"
     "zotero" -}}

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF
